<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
<h3 class="p">
  DESENVOLVIMENTO DO FRONT-END ACADEMIFY EM ANGULAR<br>
  <br><br>
  Sistema de cadastro de dados de Alunos
  <br>
  <br>
  Academify final - 2023
<br>

<br>
Aluno: Henrique
</h3>
</body>
</html>
